#top-nav{
	height:50px;
	background-color: #000c13;
}
.margin-0{
	margin:0px 0px 0px 0px;
}
#top-nav-links-holder{
	text-align: right;
	height: 100%;
}
#top-nav-links-holder a{
	display: inline-block;
	text-decoration: none;
	color:white;
	font-size: 12px;
	height: 100%;
	padding:0px 10px 0px 10px;
	line-height: 50px;
	border-bottom:5px solid transparent;
	cursor: pointer;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
	transition:all ease-in-out 0.4s;
}
#top-nav-links-holder a:hover{
	color:#D1D1FF;
	
}
#top-nav-links-holder a.c_selected{
	color:#D1D1FF;
	border-bottom:5px solid #D1D1FF;
}
#top-nav-title-holder{
	height: 100%;
}
#top-nav-title-holder h1{
	color:white;
	display: block;
	height: 100%;
	line-height: 50px;
	margin:0px 0px 0px 10px;
	font-size: 30px;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#main-welcome{
	height:550px;
	background: url("../images/time2.jpg") no-repeat;
	background-size: cover;
	background-position: 0px 0px;
	background-attachment: fixed;
	box-shadow: inset 0px -50px 50px rgba(0,0,0,0.3);
	
}
.margin-10{
	margin-right:10px;
}
.c_blue{
	color: #D1D1FF;
}

#welcome-text{
	display: block;
	color:white;
	padding:100px 100px 10px 100px;
	text-align: center;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
#welcome-text h1{
	text-shadow:0px 0px 15px black;
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#welcome-text h3{
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow:0px 0px 15px black;
	color:white;
}
#main-steps{
	height: 400px;
	padding-top: 20px;
}
#main-steps .c_fill, #main-download .c_fill{
	height: 100%;
	text-align: center;
}
#main-steps .c_fill .lg-img{
	font-size: 100px;
	padding:40px 40px 40px 40px;
	border: 5px solid #D1D1FF;
	border-radius: 100%;

	}
#main-steps .c_fill h3{
	font-size: 30px;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main-steps .c_fill h4{
	font-size: 20px;
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;

}
#main-download{
	height:550px;
	background: url("../images/restaurant.png") repeat;
	background-position: 0px 0px;
	background-attachment: fixed;
	box-shadow: inset 0px 0px 50px rgba(0,0,0,0.3);

}
#main-download #phone-img{
	display: block;
	width: 512px;
	height: 512px;
	margin:20px auto;
	background: url("../images/android1.png") no-repeat;
}
#main-download #download-desc{
	text-align: center;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 10px 60px 10px 60px;
	color: white;
}
#main-download #download-desc h3{
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;

	}
#main-download #download-desc #c_download{
	
	margin-top: 40px;
	font-size: 25px;
}