#top-nav{
	height:50px;
	background-color: #000c13;
}
.margin-0{
	margin:0px 0px 0px 0px;
}
#top-nav-links-holder{
	text-align: right;
	height: 100%;
}
#top-nav-links-holder a{
	display: inline-block;
	text-decoration: none;
	color:white;
	font-size: 12px;
	height: 100%;
	padding:0px 10px 0px 10px;
	line-height: 50px;
	border-bottom:5px solid transparent;
	cursor: pointer;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
	transition:all ease-in-out 0.4s;
}
#top-nav-links-holder a:hover{
	color:#D1D1FF;
	
}
#top-nav-links-holder a.c_selected{
	color:#D1D1FF;
	border-bottom:5px solid #D1D1FF;
}
#top-nav-title-holder{
	height: 100%;
}
#top-nav-title-holder h1{
	color:white;
	display: block;
	height: 100%;
	line-height: 50px;
	margin:0px 0px 0px 10px;
	font-size: 30px;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#main-welcome{
	height:550px;
	background: url("../images/time2.jpg") no-repeat;
	background-size: cover;
	background-position: 0px 0px;
	background-attachment: fixed;
	box-shadow: inset 0px -50px 50px rgba(0,0,0,0.3);
	
}
.margin-10{
	margin-right:10px;
}
.margin-5{
	margin-right:5px;
}
.back-error{
	background-color: red;
}
.c_blue{
	color: #D1D1FF;
}

#welcome-text{
	display: block;
	color:white;
	padding:100px 100px 10px 100px;
	text-align: center;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
#welcome-text h1{
	text-shadow:0px 0px 15px black;
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#welcome-text h3{
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow:0px 0px 15px black;
	color:white;
}
#main-steps{
	min-height: 400px;
	padding-top: 20px;
}
#main-traffic{
	min-height: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#main-steps .c_fill, #main-download .c_fill, #main-traffic .c_fill{
	height: 100%;
	text-align: center;
}
#main-steps .c_fill .lg-img{
	font-size: 100px;
	padding:40px 40px 40px 40px;
	border: 5px solid #D1D1FF;
	border-radius: 100%;

	}
#main-steps .c_fill h3{
	font-size: 30px;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main-steps .c_fill h4{
	font-size: 20px;
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;

}
#main-traffic h1{
	color: #5bc0de;
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#main-traffic h3{
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#main-traffic h2{
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	margin-bottom: 30px;
}
#main-traffic .c_fill{
	height: auto;
	background: url('../images/map-shadow.png') no-repeat;
	background-size: 100% 100%;
	background-position: 0px 0px;
}

#main-download{
	height:550px;
	background: url("../images/restaurant.png") repeat;
	background-position: 0px 0px;
	background-attachment: fixed;
	box-shadow: inset 0px 0px 50px rgba(0,0,0,0.3);

}
#main-download #phone-img{
	display: block;
	width: 512px;
	height: 512px;
	margin:20px auto;
	background: url("../images/android1.png") no-repeat;
}
#main-download #download-desc{
	text-align: center;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 10px 60px 10px 60px;
	color: white;
}
#main-download #download-desc h3{
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;

	}
#main-download #download-desc #c_download{
	
	margin-top: 40px;
	font-size: 25px;
}
#c_main_container{
	min-height: 700px;
	padding: 20px 20px 20px 20px;
}
#form-box{
	width: 500px;
	padding: 0px 10px 0px 10px;
	margin: 0px auto;
	text-align: center;

}
#form-box h2{
	height: 50px;
	border-bottom:2px solid #CFD0D0;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	line-height: 50px;
}
#form-box .form-group{
	margin: 20px 0px 20px 0px;
	text-align: left;
}
#left-bar{
	min-height: 700px;
	background-color: #F2F2F2;
	border-right: 1px solid #D0CFCF;
	padding: 0px 0px 0px 0px;
}
#actions-nav{
	height: 50px;
	border-bottom: 1px solid #D0CFCF;
	
}
#right-bar{
	min-height: 600px;
	padding: 0px 0px 0px 0px;
}
#second-nav{
	height: 50px;
	background-color: #F2F2F2;
	box-shadow: 1px 0px 3px #A3A2A2;
}
.c_tab{
	height: 50px;
	border-bottom: 1px solid #D0CFCF;
	transition:all ease-in-out 0.4s;
}
.c_tab h3{
	height: 100%;
	color: #6B6969;
	line-height: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
	cursor: pointer;
	transition:all ease-in-out 0.4s;
}

.c_tab:hover{
	background-color: white;
	color:blue;

}
.dash{
	height: 50px;
	background-color: #5bc0de;
}
.dash h3{
	height: 100%;
	color: white;
	line-height: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}
#welcome-user h3{
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 15px;
	color: #6B6969;
	text-align: right;
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#panel-title{
	height: 100%;
	color: #6B6969;
	line-height: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#pane-nav-title-holder, #pane-nav-buttons-holder{
	height: 100%;
	padding: 0px 0px 0px 0px;
}
.pad-0{
	padding: 0px 0px 0px 0px;
}
.margin-10-10{
	margin-right: 10px;
	margin-left: 10px;
}
#pane-nav-buttons-holder{
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main-panel .c_subtitle{
	color: #6B6969;
	margin-bottom: 50px;
	font-family: "Play", "Helvetica Neue",Helvetica,Arial,sans-serif;
	border-bottom: 1px solid #6B6969;
	padding-bottom: 20px;
	font-size: 30px;
	margin-top: 10px;
}
#new-task-panel, #new-meeting-panel, #tasks-panel, #meetings-panel, #groups-panel, #new-group-panel{
	display: none;
}
#members-holder{
	min-height: 30px;
}
#days-holder{
	height: 50px;
}
.day-box{
	height: 100%;
	text-align: center;
	background-color: #5bc0de;
	border-radius: 5px;
	color:white;
	margin: 0px 0px 0px 5px;
}
.day-box h4{
	height: 100%;
	margin:0px 0px 0px 0px;
	font-size: 15px;
	line-height: 50px;
}
#cal-holder{
	height: 500px;
	overflow-x:auto;
	

}
.time-box{
	height: 100px;
	text-align: center;
	background-color: #5bc0de;
	border-radius: 5px;
	color:white;
	margin: 5px 0px 0px 0px;
	
}
.time-box h4{
	height: 100%;
	margin:0px 0px 0px 0px;
	font-size: 15px;
	line-height: 100px;
}
.task-box{
	height: 100px;
	text-align: left;
	padding: 5px 2px 2px 5px;
	background-color: #f0ad4e;
	border-radius: 5px;
	color:white;
	margin: 5px 0px 0px 5px;

}
.task-box h4{
	margin:0px 0px 0px 0px;
	font-size: 12px;

}
.c_1{
	background-color: #F2F2F2;
	border: 1px solid #D0CFCF;
	cursor: pointer;
	transition:all ease-in-out 0.4s;
}
.c_1:hover{
	background-color: #D0CFCF;
}
.c_1 h4{
	text-align: center;
	color: #6B6969;
	line-height: 100px;
	font-size: 30px;
}
.c_table{
	text-align: center;
}
#popup-back{
	display: none;
	position: fixed;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

}
#popup-box{
	display: block;
	position: fixed;
	width: 350px;
	height:auto;
	left:50%;
	top:50%;
	margin-left: -175px;
	margin-top:-50px;
	padding: 5px;
	background: white;
	border-radius: 10px;
	border: 5px solid rgba(0, 0, 0, 0.4);
}
#popup-title{
	display: none;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
	border-bottom: 1px solid black;
}
#popup-body{
	height: 70px;
}
#processing-img{
	display: block;
	width: 300px;
	height:67px;
	background: url('../images/processing.gif') no-repeat;
	margin:0px auto;
}
span[cust-title]:hover:after{
	content: attr(cust-title);
	padding: 5px 15px 5px 15px;
	background-color:#5bc0de; 
	border:1px solid #46b8da;
	color:white;
	position:absolute;
	top:100%;
	left:100%px;
	z-index: 100;
	border-radius: 3px;
	font-family: "Audiowide", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.group-ico{
	cursor: pointer;
}